          
          <div class="news">
            <h2>news</h2>
            {% if site.news != blank -%} 
          <div id="timeline">
              <div>
              {% assign total_news = 0 %}

              {% assign news_by_year = site.news  | reverse | group_by_exp:"item", "item.date | date: '%Y'" %}
              {% for year in news_by_year %}

                <section class="year">
                  <h3>{{year.name}}</h3>
                  {% assign posts_by_month = year.items | group_by_exp:"item", "item.date | date: '%B'"  %}
                  {% for month in posts_by_month %}
                  <section>
                    <h4>{{month.name}}</h4>
                    <ul>
                    {% for item in month.items %}
                      <li>
                      {% if item.inline %}
                        {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                      {% else %}
                        <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                      {% endif %}
                      </li>
                    {% endfor %}
                    </ul>
                  </section>
                  {% endfor %}
                </section>
                {% assign new_total = total_news | plus: year.items.size  %}
                {% if total_news  <  site.news_limit and new_total >= site.news_limit %}
                  <details class="description">
                    <summary class="text-muted" data-open="Less" data-close="More">
                    </summary>
                {% endif %}
                {% assign total_news = new_total %}

              {% endfor %}

                  {% if site.news.size > site.news_limit%}
                    </details>
                  {% endif %}
              </div>
            </div>
          {%- else -%} 
            <p>No news so far...</p>
          {%- endif %} 
          </div>