

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}



#timeline {
  position: relative;
  display: table; //*For Firefox
  height: 100%;
  margin: {
    left: 5px;
    right: auto;
    top: 1rem;
  }
  div {
    &:after {
      content: '';
      width: 2px;
      position: absolute;
      top: .5rem;
      bottom: 0rem;
      left: 60px;
      z-index: 1;
      background: #C5C5C5;
    }
  }
  h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    padding: 0 0 0 2px;
    margin: 0;
    font: {
      size: 1em;
      weight: 400;
    }
  }
  section.year {
    position: relative;
    section {
      position: relative;
      padding-bottom: 1.25em;
      margin-bottom: 2.2em;
      h4 {
        position: absolute;
        bottom: 0;
        font: {
          size: .9em;
          weight: 400;
        }
        line-height: 1.2em;
        margin: 0;
        padding: 0 0 0 84px;
        color: #C5C5C5;
      }
      ul {
        list-style-type: none;
        padding: 0 0 0 84px;
        margin: -1.35rem 0 1em;
        //* max-width: 32rem;
        font-size: 1em;
        &:last-child {
          margin: {
            bottom: 0;
          }
        }
        &:first-of-type:after {
          content: '';
          width: 10px;
          height: 10px;
          background: #C5C5C5;
          border: 2px solid var(--global-bg-color);
          @include border-radius(90%);
          position: absolute;
          left: 54px;
          top: 3px;
          z-index: 2;
      	  box-sizing: content-box;
        }
        li {
          &:before {
            content: '—';
            //* margin-left: -.5rem;
            //* padding-right: .3rem;
          }
          &:not(:first-child) {
            margin-top: .5rem;
          }
        }
      }
    }
  }
  details.description summary {
	  font-size: .9em;
    margin: -1.35rem 0 1.5em;
	}
  details.description[open] summary::after {
	  content: attr(data-open);
	}

	details.description summary::after {
	  content: attr(data-close);
	}
}
